<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библиотека</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<header>
    <!-- Контейнер для картинки (левая часть) -->
    <div class="left-section">
        <div class="user-menu">
            <a href="/"> <!-- Ссылка на начальную страницу -->
                <img src="/img/Shey1.png" width="60" height="60" alt="Shey1" class="hover-zoom">
            </a>
        </div>
    </div>

    <!-- Контейнер для кнопок (правая часть) -->
    <div class="right-section">
        <!--кнопка рандом вопроса -->
        <div class="user-menu">
            <button id="user-button-6">
                <i class="fas fa-cube"></i>
            </button>
        </div>

        <!--кнопка поиска -->
        <div class="user-menu">
            <button id="user-button-5">
                <i class="fas fa-search"></i>
            </button>
        </div>

        <!--кнопка редактирования -->
        <div class="user-menu">
            <button id="user-button-4">
                <i class="fas fa-edit"></i>
            </button>
        </div>

        <!-- Третья кнопка с иконкой "плюс" -->
        <div class="user-menu">
            <button id="user-button-3">
                <i class="fas fa-plus"></i> <!-- Иконка "плюс" -->
            </button>
        </div>

        <!-- Первая кнопка с иконкой книги -->
        <div class="user-menu">
            <button id="user-button-1">
                <img src="https://cdn-icons-png.flaticon.com/512/2169/2169840.png" alt="Книга" width="30" height="30">
            </button>
        </div>

        <!-- Вторая кнопка с иконкой пользователя -->
        <div class="user-menu">
            <button id="user-button-2"></button>
        </div>
    </div>

    <!-- Общий контейнер для меню -->
    <div id="dropdown-menu" class="dropdown-content">
        <!-- Содержимое меню будет динамически изменяться -->
    </div>
</header>

<!-- Форма для добавления теста -->
<div id="add-test-form" class="add-test-form">
    <h2>Добавить новый тест</h2>
    <form id="test-form">
        <div class="form-group">
            <label for="question">Вопрос:</label>
            <input type="text" id="question" name="question" required>
        </div>
        <div class="form-group">
            <label for="option1">Вариант ответа 1:</label>
            <input type="text" id="option1" name="option1" required>
            <input type="radio" name="correct-answer" value="1"> Правильный
        </div>
        <div class="form-group">
            <label for="option2">Вариант ответа 2:</label>
            <input type="text" id="option2" name="option2" required>
            <input type="radio" name="correct-answer" value="2"> Правильный
        </div>
        <div class="form-group">
            <label for="option3">Вариант ответа 3:</label>
            <input type="text" id="option3" name="option3" required>
            <input type="radio" name="correct-answer" value="3"> Правильный
        </div>
        <div class="form-group">
            <label for="option4">Вариант ответа 4:</label>
            <input type="text" id="option4" name="option4" required>
            <input type="radio" name="correct-answer" value="4"> Правильный
        </div>
        <button type="submit" class="create-button">Создать</button>
    </form>
</div>
<div id="app">
    <div id="topic-content-container" class="column" style="display: none;">
        <!-- Содержимое темы будет здесь -->
    </div>
    <div id="topics-list-container" class="column" style="display: none;">
        <!-- Список тем будет здесь -->
    </div>
</div>



<!-- Форма для добавления темы -->
<div id="add-topic-form" style="display: none;">
    <h2>Добавить новую тему</h2>
    <form id="topic-form">
        <label for="topic-title">Название темы:</label>
        <input type="text" id="topic-title" name="topic-title" required>

        <label for="topic-content">Содержимое темы:</label>
        <textarea id="topic-content" name="topic-content" rows="10" required></textarea>

        <label for="topic-area">Область темы:</label>
        <select id="topic-area" name="topic-area" required>
            <!-- Опции будут добавлены динамически -->
        </select>

        <button type="submit" >Сохранить</button>
        <button type="button" id="cancel-topic-button">Отмена</button>
    </form>
</div>







<!-- Подключение JavaScript-файла -->
<script src="/js/script.js">

</script>
</body>
</html>