<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/styles1.css">
</head>
<body>
<h1>Добро пожаловать, <span th:text="${username}">Гость</span>!</h1>
<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>
<!-- Шапка сайта -->
<header class="site-header">
    <h1 class="welcome-text">Добро пожаловать!</h1>
</header>

<!-- Меню для запуска теста -->
<main class="menu">
    <div class="menu-content">
        <h2>Тест на знание программирования</h2>
        <p>Проверьте свои знания и ответьте на вопросы за ограниченное время.</p>
        <a href="/test" class="animated-button">Начать тест</a>
    </div>
</main>

<script src="/static/script.js"></script>
</body>

</html>